* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  margin: 0px 84px;
}

.settings .lg-dropdown,
.money-dropdown,
.contact {
  padding: 0em 0.25em;
  display: inline-block;
}

.lg-dropdown,
.money-dropdown {
  position: relative;
}

.lg-dropdown img {
  border-radius: 100%;
  width: 1rem;
  margin: 0.2em 0.75em;
}

.select {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.select * {
  padding: 0em 0.15em;
}

.menu {
  z-index: 9999;
  background-color: white;
  border: 1px solid rgba(148, 148, 148, 0.938);
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.185);
  position: absolute;
  top: 1.5em;
}

.lg-menu {
  min-width: 9em;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: flex;
  align-items: center;
  padding: 0.5em 1em 0.5em 0em;
}
