* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 1em 0em;
}

.settings {
  display: flex;
}

.settings .dropdown,
.contact {
  padding: 0em 1em;
}

.dropdown {
  width: auto;
  position: relative;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  cursor: pointer;
}

.menu {
  z-index: 9999;
  list-style: none;
  background-color: white;
  border: 1px solid rgba(148, 148, 148, 0.938);
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.185);
  position: absolute;
  top: 1.5em;
}
