* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  position: sticky;
  top: -41.3px;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  margin: 0px 84px;
}

.settings {
  display: flex;
  align-items: center;
}

.settings .lg-dropdown,
.money-dropdown,
.contact {
  padding: 0em 0.25em;
}

.dropdown {
  position: relative;
}

.lg-dropdown img {
  border-radius: 100%;
  width: 1rem;
  margin: 0.2em 0.75em;
  padding: 0;
}

.select {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.select * {
  padding: 0em 0.15em;
}

.menu {
  z-index: 9999;
  background-color: white;
  border: 1px solid #dee2e6;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 1.5em;
}

.lg-menu {
  min-width: 9em;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: flex;
  align-items: center;
  padding: 10px 5px 10px 0em;
  cursor: pointer;
}

#money_menu ul li {
  padding: 10px 5px;
}

#currency_selector .select .selected {
  padding-left: 5px;
}

.hidden {
  display: none;
}

.userinfo {
  display: flex;
  align-items: center;
}

.userinfo a {
  color: black;
  padding-left: 1em;
}

.userinfo a:hover {
  color: #ff324d;
}

hr {
  border-top: 0.2px solid rgba(114, 94, 94, 0.432);
}

.navbar {
  margin: 0px 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 130px;
}

.nav li {
  position: relative;
}

#products_dropdown {
  position: static;
}

.nav li a {
  padding: 22px 10px;
  display: block;
  color: black;
}

.nav li a:hover {
  color: #ff324d;
}

.dropdown-menu {
  z-index: 99999;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
}

.pages-menu {
  min-width: 200px;
}

.pages-menu ul li a {
  padding: 10px 15px;
}

.dropdown-menu ul {
  list-style-type: none;
}

.dropdown-menu li a {
  padding: 0px 10px;
}

.products-menu {
  width: 87%;
  transform: translateX(-40%);
}

.products-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-nav div {
  border-right: 1px solid #ddd;
  margin: 10px 0px;
}

#trash {
  border: none;
}

.products-nav div {
  flex-grow: 1;
}

.products-nav h4,
.products-nav ul li a {
  padding: 10px 26px;
}

.products-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.products-banner .banner {
  position: relative;
  width: 31%;
}

.banner img {
  width: 100%;
  margin-bottom: 15px;
}

.banner .banner-info {
  position: absolute;
  top: 50px;
  left: 200px;
}

.banner .banner-info * {
  padding: 5px 0px;
}

.search-cart span {
  z-index: 88;
  padding: 22px 10px;
  cursor: pointer;
}

.search-cart span:hover {
  color: #ff324d;
}

.search-bar {
  right: 118px;
  position: absolute;
  border-radius: 100vh;
  border: 1px solid #dee2e6;
  height: 1.85em;
  padding-left: 10px;
  margin-bottom: 3px;
}

.search-cart {
  display: flex;
  align-items: center;
}
